<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/libs/bootstrap.min.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"/>

    <title>{% block title %}{% endblock %}</title>
  </head>

  <body>

    <div class="page">
      <header class="header">{% include "header.html" %}</header>
      <main class="content">{% include "flash.html" %}{% block content %}{% endblock %}</main>
    </div>

    <script src="{{ url_for('static', filename='js/libs/bootstrap.bundle.min.js') }}"></script>

  </body>

</html>
